<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客后台管理</title>
    <link rel="stylesheet" type="text/css" href="../../static/admin/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../static/admin/css/main.css">
    <link rel="stylesheet" type="text/css" href="../../static/admin/editor-md/css/editormd.css">
    <script type="text/javascript" src="../../static/admin/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../../static/admin/js/jquery.form.min.js"></script>
    <script src="../../static/admin/js/ck_config.js"></script>
    <script src="../../static/admin/editor-md/editormd.min.js"></script>
    <script src="../../static/admin/js/editor_md_config.js"></script>
    <script src="../../static/admin/js/article_add.js"></script>

</head>
<body>
<div class="breadcrub">
    当前位置：博客管理>文章编辑
</div>
<div class="pannel">
    <form class="news_edit" id="article_add">
        <h3 class="review_title">新闻版式编辑</h3>
        <div class="form_group">
            <label>新闻标题：</label>
            <input type="text" class="input_txt2" value="" name="title">
        </div>
        <div class="form_group">
            <label>新闻分类：</label>
            <select class="sel_opt" name="category_id">
                {% for category in info.categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form_group">
            <label>新闻摘要：</label>
            <textarea class="input_multxt" name="digest"></textarea>
        </div>
        <div class="form_group">
            <label>索引图片：</label>
            <img src="" alt="索引图片" class="index_pic" name="">
        </div>
        <div class="form_group">
            <label>上传图片：</label>
            <input type="file" class="input_file" name="index_image">
        </div>
        <div class="form_group">
            <label>新闻内容：</label>
            {#            <div class="rich_wrap fl">#}
            {#                <input class="input_area" id="editor" name="content" value="">#}
            {#                {{ ckeditor.create(name="content") }}#}
            {#                {{ ckeditor.config(language='cn',width='100%',heigth=400) }}#}
            {#            </div>#}
            <div class="input_wrap fl" id="editormd">
                <textarea id="article-md" class="editormd-markdown-textarea" style="display: none" name="content-markdown">

                </textarea>
                <textarea id="article-html" class="editormd-html-textarea" name="content-html" style="display: none"></textarea>
            </div>
        </div>
        <div class="form_group indent_group line_top">
            <input type="submit" value="确定" class="confirm">
            <input type="button" value="取消" class="cancel" onclick="cancel()">
        </div>
    </form>
</div>
</body>
</html>