<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客后台管理</title>
    <link rel="stylesheet" type="text/css" href="../../static/admin/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../static/admin/css/main.css">
    <link rel="stylesheet" href="../../static/admin/css/jquery.pagination.css">

    <script type="text/javascript" src="../../static/admin/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../../static/admin/js/comment_review.js"></script>
    <script type="text/javascript" src="../../static/admin/js/jquery.pagination.min.js"></script>
</head>
<body>
<div class="breadcrub">
    当前位置：评论管理>评论审核管理
</div>
<div class="pannel">
    <table class="common_table">
        <tr>
            <th width="10%">id</th>
            <th width="60%">评论内容</th>
            <th width="10%">审核操作</th>
        </tr>
        {% for comment in data.comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.content }}</td>
                <td>
                    <a href="javascript:;" class="edit fl">通过</a>
                    <a href="javascript:;" class="delete">拒绝</a>
                </td>
{#                <td><a href="javascript:;" class="edit">拒绝</a></td>#}
            </tr>
        {% endfor %}
    </table>
</div>
<script>
    $(function () {
        $("#pagination").pagination({
            currentPage: {{ data.current_page }},
            totalPage: {{ data.total_page }},
            callback: function (current) {
                window.location = "/cms/comment/review?page=" + current;
            }
        });
    });
</script>
</body>
</html>